/* Color scheme: light tan */
:root {
  --color-bg: #d2c8b7;
  --color-surface: #ede6d6;
  --color-text: #3b2f1e;
  --color-accent: #498993;
  --text-contrast: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

header,
footer {
  color: var(--text-contrast);
  background-color: var(--color-accent);
}
.nav-link {
  color: var(--text-contrast);
}
.btn {
  background-color: var(--color-accent);
  border-color: var(--color-text);
  color: var(--text-contrast);
}

.about {
  padding: 1rem;
}

.accordion-button,
.accordion-body {
  background-color: var(--color-surface);
  color: var(--text-contrast);
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-accent);
  color: var(--text-contrast);
}

#about-accordion {
  max-width: 700px;
  margin: 0 auto;
}

.card {
  background-color: var(--color-surface);
  border-color: var(--color-accent);
  color: var(--color-text);
}
