/* Color scheme: light tan */
:root {
  --color-bg: #d2c8b7;
  --color-surface: #ede6d6;
  --color-text: #3b2f1e;
  --color-accent: #498993;
  --text-contrast: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

header,
footer {
    color: var(--text-contrast);
    background-color: var(--color-accent);
}

.btn {
    background-color: var(--color-accent);
    border-color: var(--color-text);
    color: var(--text-contrast)
}

.about {
    padding: 1rem;
}

.card {
  background-color: var(--color-surface);
  border-color: var(--color-accent);
  color: var(--color-text);
}

.navbar.bg-dark,
footer.bg-dark {
  background-color: var(--color-accent);
}
